@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lora:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	font-family: 'Acme', sans-serif;
	margin: 0;
  background-color: #030820;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.stars {
	position: fixed;
	z-index: -10;
	top: 8vh;
	left: 4vw;
	width: 105%;
}

.nav-container {

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	position: fixed;
	z-index: 99;
  background-color: rgba(3, 8, 32, 0.6);
	font-family: 'Lora', serif;
	font-weight: 500;

  header {
		width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

		padding: 0em 5em;

		img {
			width: 1.5em;
		}
  }

  .logo {
    color: #F3D277;
		font-size: 2em;
		display: flex;

		div {
			padding: 0.5em;
		}
  }

  ul {
		display: flex;

		a {
      font-size: 1.4em;
			color: white;
			padding-left: 4em;
    }
  }
}

.contacts {
	position: fixed;
	bottom: 3rem;
	right: 5rem;

	display: flex;
	flex-direction: column;

	img {
		align-self: flex-end;
		padding-top: 2.5rem;
		width: 75%;
	}
}

.home	{
	margin: 0 5rem;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}
.hero {
	// margin: 6rem 5rem 0 5rem;
	height: 90vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	h1 {
		color: #F2AF3E;
		font-size: 3.5rem;
		letter-spacing: 0.5rem;
		padding-bottom: 4rem;
	}
	h3{
		color: #AFB1B7;
		padding-top: 4rem;
		font-size: 2rem;
		letter-spacing: 0.5rem;
	}

	img {
		width: 100%;
	}

}

.arrow {
	margin-bottom: auto;
	height: 1.5rem;
}

.projects {
	height: 100vh;
	display: flex;
	flex-direction: column;
	// align-self: center;

	h2 {
		margin: 1rem auto;
		font-size: 3rem;
		letter-spacing: 0.4rem;
		color: #F3D277;
	}
	img {
		height: 1.5rem;
	}
}
.card-box {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
	align-items: center;
	// grid-template-columns: 1fr 3fr 1fr;
	margin: 4.5rem 0;
}
.card {
	margin: 1em auto;
	height: 50vh;
	width: 100%;
	text-align: center;
	background-image: linear-gradient(135deg, rgba(45, 90, 152, 0.7), rgba(9, 38, 77, 0.2));
	border-radius: 10px;
}

.side {
	height: 40vh;
}

.slide {
	margin: auto;

	img {
		height: 3rem;
	}
}
.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;

	div {
		height: 0.8rem;
		width: 0.8rem;
		border-radius: 50%;
		margin: 0 1rem;
		background-color: #AFB1B7;
	}
	div[data-index="4"] {
		height: 1.25rem;
		width: 1.25rem;
		background-color: white;
	}
}