@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lora:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Acme', sans-serif;
  margin: 0;
  background-color: #030820;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.stars {
  position: fixed;
  z-index: -10;
  top: 8vh;
  left: 4vw;
  width: 105%;
}

.nav-container {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 99;
  background-color: rgba(3, 8, 32, 0.6);
  font-family: 'Lora', serif;
  font-weight: 500;
}

.nav-container header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 5em;
}

.nav-container header img {
  width: 1.5em;
}

.nav-container .logo {
  color: #F3D277;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .logo div {
  padding: 0.5em;
}

.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container ul a {
  font-size: 1.4em;
  color: white;
  padding-left: 4em;
}

.contacts {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 2.5rem;
  width: 75%;
}

.home {
  margin: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  color: #F2AF3E;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  padding-bottom: 4rem;
}

.hero h3 {
  color: #AFB1B7;
  padding-top: 4rem;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.hero img {
  width: 100%;
}

.arrow {
  margin-bottom: auto;
  height: 1.5rem;
}

.projects {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects h2 {
  margin: 1rem auto;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  color: #F3D277;
}

.projects img {
  height: 1.5rem;
}

.card-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 3fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.5rem 0;
}

.card {
  margin: 1em auto;
  height: 50vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(135deg, rgba(45, 90, 152, 0.7), rgba(9, 38, 77, 0.2));
  border-radius: 10px;
}

.side {
  height: 40vh;
}

.slide {
  margin: auto;
}

.slide img {
  height: 3rem;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.slider div {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: #AFB1B7;
}

.slider div[data-index="4"] {
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */